.grid_container{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
}
.catalogue img {
    margin-left: 150px;
    display:inline-block;
    width: 300px;
    border-radius: 5%;
    box-shadow:10px 10px 50px 5px grey;
}

.catalogue_text{
    display:inline-block;
    padding-top: 80px;
    padding-bottom: 150px;
}
a:link, a:visited {

    color: rgb(2, 97, 134);
    display: inline-block;
    text-align: center;
    float: right;
    text-decoration: none;
  }
  
  a:hover, a:active {
    cursor:pointer;
    text-decoration:underline overline;
  }