.grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-column-gap: 5px;
    padding: 20px;
  }
.grid-cont > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 5px 0;
}
.grid_container{
    display: grid; 
    grid-template-columns: 1fr 1fr ; 
    grid-gap: 20px; 
}
  
  
.disp img{
      width: 200px;
      border-radius: 5%;
    display:inline-block;
  }
a:link, a:visited {

    color: rgb(2, 97, 134);
    display: inline-block;
    text-align: center;
    float: right;
    text-decoration: none;
  }
  
  a:hover, a:active {
    cursor:pointer;
    text-decoration:underline overline;
  }
  .disp_text{
    display:inline-block;
    padding-top: 150px;
    padding-bottom: 150px;
    
}